body{
	font-family: "Cardo", normal;
	background-color: #BCCEB8;
	/*font-size: 20px;*/
}

#home{
	background-color: #EDCFC4;
	opacity: 1;
	height: 100vh;
}

#about{
	background-color: #E1B0A2;
	opacity: 1;
	height: 100vh;
	border-top-style: dashed;
	border-width: 30px;
	border-color:  #7A716F;
}

#resume{
	background-color: #BCCEB8;
	opacity: 1;
	height: 100vh;
	border-top-style: dashed;
	border-width: 30px;
	border-color: #7A716F;
	
}

#connect{
	background-color: #7A716F;
	opacity: 1;
	height: 100vh;
	border-top-style: dashed;
	border-width: 30px;
	border-color: #EDCFC4;
	

}

#gallery{
	background-color: #EDCFC4;
	opacity: 1;
	height: 100vh;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-width: 30px;
	border-color: #7A716F;
	
}


.photo{
	border-radius: 50%;
	filter: grayscale(100%);
	background: #C4C4C4;
	border: 10px solid #746B69;
	display: block;
	margin-left: auto;
	margin-right: auto;
		
}

.pageTitle{
	font-family: Arizonia, cursive;
	position: absolute;
	width: 300px;
	height: 200px;
	

	font-family: Arizonia, cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 180px;

	color: #000000;

	text-shadow: 10px 20px 15px rgba(0, 0, 0, 0.25);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.pagePadding{
	
	padding-right: 100px; 
	
	padding-left: 100px;
}

.svg{
	position: absolute;
}

.imageGallery{
	width: 600px;
	border: 20px solid #746B69;
	
}

.text{
	width: 500px;
	height: 500px;

	line-height: 35px;
	}


/* unvisited link */
a:link{
	font-size: 20px;
	color: black;
}

/* visited link */
a:visited{
	font-size: 20px;
	color: white;
}

/* mouse over link, active link */
a:hover, a:active{
	font-size: 20px;
	color: black;
	background-color: #EDCFC4;
	text-decoration: none;
}


